
body {
    margin: 0;
        resize: none;
  overflow: auto;
    
}
.headerContainer {
	position: relative;
  	text-align: center;
    width: 100%;
  	margin: 5;
height: 20%;
    resize: none;
  overflow: auto;
}

.headerImg {
	width: 100%;
	height: 5vh;
      resize: none;
  overflow: auto;
}

.headerText {
	position: absolute;
  	top: 25%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  	font-size: 7vh;
  	font-family: Arial Black, Arial Bold, Gadget, sans-serif;

  	-webkit-text-fill-color: rgba(192,192,192,0.6);;
	-webkit-text-stroke-width: 2.5px;
	-webkit-text-stroke-color: #000033;
      resize: none;
  overflow: auto;
}




nav {
	float: left;
	
  	width: 10%;
  	margin-left: 1%;
  	background-color: #f1f1f1;
  	height: 100%;
  resize: none;
  overflow: auto;
}


nav ul {
  list-style-type: none;
  padding: 0;
    resize: none;
  overflow: auto;
}

section {
    height: 100vh;
    width:80%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
       resize: none;
  overflow: auto;
}


#viewDiv
{

 height: 100%;
  width: 100%;
   padding: 5;
  margin: 5;
  resize: none;
  overflow: auto;
}

#reflectionDiv {
  padding: 5px;
}

#container {
  padding: 0;
  margin: 5;
justify-content: center;
    align-items: center;
    text-align: center;
  height: 80%;
  width: 80%;
  resize: none;
  overflow: auto;
}

table, td ,tr {
	align-self: center;
  border: 1px solid black;
  padding: 5px;
  tr:hover {background-color: #f5f5f5;}
  resize: none;
  overflow: auto;

}

th {
  border: 1px solid black;
  padding: 5px;	
  background-color: #87CEFA;
  resize: none;
  overflow: auto;
 }

tfoot {
colspan="2"
}

tr:hover {
          background-color: #ffff99;
        }

footer {
    text-align: center;
    padding: 50px;
    resize: none;
  overflow: auto;
}
