html,
body,
#container {
  padding: 25;
  margin: 50;
  height: 100%;
  width: 100%;
}

#viewDiv {
  height: 50%;
  width: 50%;
}
#ReadingList {
  padding: 150px;
  margin: 150px;
  height: 50%;
  width: 50%;
}
#reflectionDiv {
  padding: 10px;
}