
body {
    margin: 0;
        resize: none;
  overflow: auto;
    
}
.headerContainer {
	position: relative;
  	text-align: center;
    width: 100%;
  	margin: 5;
height: 20%;
    resize: none;
  overflow: auto;
}

.headerImg {
	width: 100%;
	height: 5vh;
      resize: none;
  overflow: auto;
}

.headerText {
	position: absolute;
  	top: 25%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 100%;
  	font-size: 7vh;
  	font-family: Arial Black, Arial Bold, Gadget, sans-serif;

  	-webkit-text-fill-color: rgba(192,192,192,0.6);;
	-webkit-text-stroke-width: 2.5px;
	-webkit-text-stroke-color: #000033;
      resize: none;
  overflow: auto;
}




nav {
	float: left;
	
  	width: 10%;
  	margin-left: 1%;
  	background-color: #f1f1f1;
  	height: 100%;
  resize: none;
  overflow: auto;
}


nav ul {
  list-style-type: none;
  padding: 0;
    resize: none;
  overflow: auto;
}

section {
    height: 100vh;
    width:80%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
       resize: none;
  overflow: auto;
}


#viewDiv
{

 height: 100%;
  width: 100%;
   padding: 5;
  margin: 5;
  resize: none;
  overflow: auto;
}

#reflectionDiv {
  padding: 5px;
}

#container {
  padding: 0;
  margin: 5;
justify-content: center;
    align-items: center;
    text-align: center;
  height: 80%;
  width: 80%;
  resize: none;
  overflow: auto;
}

table, td ,tr {
	align-self: center;
  border: 1px solid black;
  padding: 5px;
  tr:hover {background-color: #f5f5f5;}
  resize: none;
  overflow: auto;

}

th {
  border: 1px solid black;
  padding: 5px;	
  background-color: #87CEFA;
  resize: none;
  overflow: auto;
 }

tfoot {
colspan="2"
}

tr:hover {
          background-color: #ffff99;
        }

footer {
    text-align: center;
    padding: 50px;
    resize: none;
  overflow: auto;
}

* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: white;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}